.toolbar {
	-webkit-app-region: drag;
	-webkit-user-select: none;

	&-header {
		padding: 0 68px;
	}

	&-button {
		position: absolute;
		top: 5px;
		left: 8px;
		width: 52px;
		height: 12px;

		&-item {
			position: absolute;
			top: 0;
			width: 12px;
			height: 12px;
			border-radius: 100%;
			border: 0;

			&::before ,
			&::after {
				display: none;
				content: '';
			}

			&:focus {
				outline: 0;
			}
		}

		&:hover {
			.toolbar-button-item::before ,
			.toolbar-button-item::after {
				display: block;
			}
		}
	}
}

.close {
	left: 0;
	background-color: rgb(255,97,88);
	box-shadow: 0 0 1px 1px rgb(224, 70, 64) inset;

	&::before ,
	&::after {
		position: absolute;
		top: 2px;
		left: 5px;
		width: 2px;
		height: 8px;
		background: #000;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(135deg);
	}
}

.minimize {
	left: 20px;
	background-color: rgb(255,189,46);
	box-shadow: 0 0 1px 1px rgb(224, 160, 24) inset;

	&::after {
		position: absolute;
		top: 5px;
		left: 2px;
		width: 8px;
		height: 2px;
		background: #000;
	}
}

.fullscreen {
	left: 40px;
	background-color: rgb(42,204,66);
	box-shadow: 0 0 1px 1px rgb(18,172,40) inset;

	&::before {
		position: absolute;
		left: 3px;
		bottom: 3px;
		border-right: 4px solid transparent;
		border-bottom: 4px solid #000;
	}

	&::after {
		position: absolute;
		top: 3px;
		right: 3px;
		border-right: 4px solid #000;
		border-bottom: 4px solid transparent;
	}
}

.add-task {
	padding: 10px;
	border-top: 1px solid #ddd;
}

.task-item {
	&-inner {
		display: table;
		width: 100%;
	}

	&-contents {
		display: table-cell;
		vertical-align: middle;
	}

	&-name {
		width: 40%;
		font-size: 1.6rem;
	}

	&-timer {
		width: 30%;
		text-align: center;
		font-size: 2.4rem;
	}

	&-buttons {
		width: 30%;
		text-align: right;

		.icon {
			display: none;
			margin-left: 20px;
			cursor: pointer;
			vertical-align: middle;
			line-height: 1;
			font-size: 2rem;

			&:hover {
				opacity: .5;
			}

			&.is-active {
				display: inline;
			}

			&-cancel {
				font-size: 2.4rem;
			}
		}
	}
}
